<%- include('../../shared/includes/head', { pageTitle: 'Failure!' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Order Failed</h1>
    <p>Sorry, your order could not be processed. If you have 
        been charged, you will be refunded shortly. Please try
        again later. If the problem persists, please contact us.
    </p>

  </main>
<%- include('../../shared/includes/footer') %>