<%- include('../../shared/includes/head', { pageTitle: 'Failure!' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Order Placed</h1>
    <p>
        Hurrah! Your order has been placed. You will receive an email confirmation shortly.
        Meanwhile, feel free to browse more products.
    </p>

  </main>
<%- include('../../shared/includes/footer') %>